NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Sanity(CMS)
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET="production"
SANITY_API_READ_TOKEN=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# cryptomus
CRYPTOMUS_API_KEY=
CRYPTOMUS_MERCHANT_UUID=
